.Flex {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.dashboard {
  /* height: 97vh; */
  width: 100%;
  /* background-color:white; */
  margin-left: 10px;
  margin-right: 10px;
}

.flex {
  display: flex;
}

.flexSection {
  display: flex;
  margin-top: 10px;
}

.LeftSection {
  width: 100%;
  margin-right: 10px;

  /* background-color: white; */
  /* height: 70vh; */
}

.RightSection {
  width: 40%;
  border-radius: 15px;
  height: 500px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  /* background-color: white; */
  /* height: 70vh; */
}

.addPatientDetail {
  width: 100%;
  /* height: 400px; */
  background-color: white;
  margin-right: 10px;
  border-radius: 20px;
  padding: 20px;
}

.formInput {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #edf0f7;
  /* margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #edf0f7; */
  /* border: none; */
}

.formInputLabel {
  margin-top: 10px;
  font-size: small;
  color: #595a5c;
}

.xRayUploadComp {
  position: relative;
  width: 100%;
  height: 420px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.uploadBtn {
  width: 100%;
  text-align: center;
  margin-top: 100%;
  padding: 10px;
  background-color: rgba(87, 87, 237, 0.667);
  color: white;
  font-weight: 700;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
}

.xRayUploadCompTitle {
  font-size: small;
  margin-bottom: 10px;
  font-size: small;
  color: #595a5c;
}

.doctorProfilePhoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  border-radius: 100%;
  width: 150px;
  background-color: black;
  height: 150px;
}

.doctorName {
  font-size: larger;
  margin-top: 20px;
  text-align: center;
  color: #68696c;
}

.doctorProfileSubcontent {
  text-align: center;
  font-size: smaller;
  margin-top: 10px;
}

.proceed {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  position: relative;
  height: 60px;
}

.proceedBtn {
  position: absolute;
  padding: 10px;
  color: white;
  background-color: rgba(67, 67, 232, 0.667);
  border: none;
  border-radius: 10px;
  font-weight: 600;
  bottom: 10px;
  right: 10px;
}

.note {
  background-color: white;
  height: 130px;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
  padding-left: 20px;
}

.noteInput {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #caccd1;
  resize: none;
  outline: none;
}

.noteInputTitle {
  /* margin-top: 10px; */
  font-size: small;
  color: #595a5c;
}

.uploadeImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  max-height: 250px;
}

.imageContainer {
  height: 310px;
}

.fluid {
  z-index: 3;
  width: 400px;
  height: 300px;
  left: 0;
  position: absolute;
}
