.image-editor {
    width: 100%;
    /* height: 97vh; */
    /* margin-top: 20px; */
    margin-left: 10px;
    margin-right: 20px;
}

.flip{
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius:10px;
    background-color: rgb(94, 94, 238);
}



.image-editor-navbar {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    ;
    border-radius: 10px;
    width: 100%;
}


.editor-nav-name {
    font-size: medium;
    font-weight: 500;
    margin-right: 20px;

}

.editor-nav-flex {
    display: flex;
    align-items: center;
}

.image-editor-search {
    padding: 10px;
    margin-left: 10px;
    width: 400px;
    background-color: #edf0f7;
    border: none;
    border-radius: 10px;
}

.image-editor-select {
    padding: 10px;
    margin-left: 10px;
    width: 300px;
    background-color: #edf0f7;
    border: none;
    border-radius: 10px;
}

.image-editor-search-btn {
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: rgb(75, 75, 228);
    border: none;
    width: 100px;
    font-weight: 500;
    margin-left: 10px;
}


.image-editor-flex-box {
    display: flex;
}

.image-editor-comp {
    width: 70%;

    /* background-color:black; */
    background-color: white;
    position: relative;
    height: 82vh;
    margin-top: 10px;
    padding: 20px;

    border-radius: 20px;
}

.image-filter-comp {
    width: 30%;
    margin-top: 10px;
    background-color: white;
    height: 82vh;
    margin-left: 10px;
    padding: 20px;
    border-radius: 20px;
}


.spatial-filters {
    font-size: small;
    flex: 0.5;
}

.editing-component {
    padding-left: 10%;
    padding-right: 10%;
}




.Input-box-editor {
    margin-bottom: 20px;

}

.filter-name {
    font-size: small;
    font-weight: 500;
    margin-bottom: 10px;
}

.image-filter {
    width: 100%;



}